*

!.Xdefaults
!.autotest
!.bashrc
!.conkyrc
!.gemrc
!.gitconfig
!.gitignore
!.irssi
!.mailcap
!.msmtprc
!.mutt
.mutt/hcache
.mutt/mutt-eds-query
!.offlineimap
.offlineimap/[Account,Repository]*
.offlineimap/[lock,pid]*
!.offlineimaprc
!.rvmrc
!.screenrc
!.signature
!.vim
.vim/.netrwhist
.vim/.VimballRecord
!.vimrc
!.zshrc
